body {
    margin: 0;
    background-color: black;
}

#titleScreen {
    position: relative;
    top: 0;
    left: 0;
    max-width: 1920px;
    height: 1080px;
}

#canV {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
}