body {
    margin: 0;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
}

#titleScreen {
    position: relative;
    max-width: 80%;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
}

#canV {
    position: absolute;
    max-width: auto;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}